
input[type=file]::-webkit-file-upload-button{
    border: 1px solid grey;
    background: #FFFAAA;   
    cursor: pointer; 
    border-radius: 20px;
    height: 35px;
    transition: 300ms;
}

input[type=file]::-webkit-file-upload-button:hover{    
    transform: scale(1.01)
}


.formFile form{
    border: none;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.text-editor{
    width: 98vw;
    position: relative;
    font-size: 20px;
}
.text-editor .send{
    width: 120px;
    position: fixed;    
    top: 100px;
    right: 50px;
    z-index: 3;
}
