<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola desde Django</title>
</head>
<body>     
    <div>
        <canvas id="myChart"></canvas>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script>        
        function handleHover(evt, item, legend) {
        legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
            colors[index] = index === item.index || color.length === 9 ? color : color + '4D';
        });
        legend.chart.update();
        }

        // Removes the alpha channel from background colors
        function handleLeave(evt, item, legend) {
        legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
            colors[index] = color.length === 9 ? color.slice(0, -2) : color;
        });
        legend.chart.update();
        }
        const data = {
            labels: {{labels|safe}},            
            datasets: [{
                label: '# of Votes',
                data: {{data|safe}},
                borderWidth: 1,
                backgroundColor: ['#CB4335', '#1F618D', '#F1C40F', '#27AE60', '#884EA0', '#D35400'],
            }]
        };

        const config = {
            type: 'pie',
            data: data,
            options: {
                plugins: {
                legend: {
                    onHover: handleHover,
                    onLeave: handleLeave
                }
                }
            }
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>
</html>