{% extends "base.html" %}

{% block head_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'birthdays.css'%}">
    <title>Cumpleaños de clientes</title>
{% endblock head_content %} 

{% block main %}
    <h1>Cumpleaños de los clientes</h1>
    <section class="birthdays">
        {% for client in  clients%}
            <article class="client">
                <h2>{{client.name}}</h2>  
                <p>Primera compra: {{client.first_buy}}</p>
                <strong><i><p>Cumpleaños: {{client.birthday}}</p></i></strong>            
            </article>
        {% endfor %}
    </section>
{% endblock main %}